.container{
    display: flex;
    background-color: #fff;
    
}

.info{
    margin: 20px 60px;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items :center;
    justify-content: flex-start;
    
}

.infoTitle{
    color:  #228CA5;
    font-size: 50px;
    line-height: 50px;
    text-align:start;
    font-weight: 100;
}
.infoParrafo{
    color: #72C67D;
    font-size: 20px;
    width: 350px;
    position: absolute;
    top: 230px;
    left: 70px;
    letter-spacing: 1px;
}

.infoButton{
    position: absolute;
    top: 310px;
    left: 70px;
    border: none;
    background-color: #00A6B7;
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

.infoImage{
    flex: 3;
    width: 100%;
    object-fit: cover;
}
.titlePath{
  position: absolute;
  color: white;
  top: 10px;
}

/* 
.infoPathPadre {
    position: relative;
    
} */
  .infoPath{
   width: 100%;
   height: 478px;
   clip-path: polygon(0 0,50% 2%,100% 12%,100% 80%,30% 100%,0% 65%);
   background: linear-gradient(164.29deg, #228CA5 21.98%, #72C67D 162.6%);
   z-index: -1;
   position: relative;
   flex-wrap: wrap;
 

   
}
.infoPath1{
  width: 20%;
  height: 300px;
  min-width: 250px;
  background-color: white;
  margin-left: 30px;
  border-radius: 12px;
  box-shadow: 6px 10px 1px rgba(238, 232, 232, 0.6);
  text-align: center;
  position: absolute;
  bottom: 60px;
  left: 100px;
}
.infoPath2{
    width: 20%;
    height: 300px;
    background-color: white;
    margin-left: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 10px 1px rgba(238, 232, 232, 0.6);
    position: absolute;
    top: 120px;
    left: 500px;
    z-index: 100;
       
  }

  .infoPath3{
    width: 20%;
    height: 300px;
    background-color: white;
    margin-left: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 10px 1px rgba(238, 232, 232, 0.6);
    position: absolute;
    top: 120px;
    left: 900px;
    z-index: 100;
       
  }
  
  



.tituloPath{
    color: #004B72;
}

.parrafoPath{
    color: #666;
    text-align: center;
    padding: 20px;
    margin: 0px auto;
    font-size: 14px;
}

.buttonPath{
    border: none;
    background-color: #228CA5;
    padding: 8px 25px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 15px;

}

.invitacion{
    display: flex;
    align-items: center;
  
}

.invitacionImage{
    flex: 3;
    background :url('../Home/../../assets/fondotargeta.png');
    background-size: contain;
    background-repeat: no-repeat;  
    margin-left: 120px;  
    margin-top: 50px;
    transform: scale(1.1);
}

.invitacionInfo{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}


.invitacionTitle{
    color: #00A6B7 ;
    padding: 10px;
    margin-left: 25px;
    font-size:40px ;
    margin-top: 10px;
}

.invitacionParrafo{
 color: #4d4d4d;
 padding: 5px;
 position: absolute;
 margin: 0px 50px;
 top: 80px;
 left: 10px;

    
}

.invitacionParrafo2{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 50px;
    color: #4d4d5d;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    

}

.invitacionParrafo2 > span {
    font-weight: bold;
    font-size: 17px;
}

.indicadores {
    width: 100%;
    height: 117px;
    background-color: #228CA5;
    position: relative;
 
}

.indicadoresTitle{
    width: 100%;
    height: 40%;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
    letter-spacing: 1.2px;
}


.indicadoresItem{
    display: flex;
    align-items: center;
    justify-content: center;
}


.item{
    display: flex;
    align-items: center;
    margin: 0px 50px;
}


.infoItem{
    margin-left: 10px;  
   color: white;
   font-size: 18px;
   letter-spacing: .8px;
   font-weight: 600;
}

.infoItem > span{
   
    color: #72C67D;
}

.containerFormulario{
    position: relative;
}

.formulario{
    background-color: #ccc;
    width: 54%;
    height: 480px;
    border: none;
    border-radius: 12px;
    position: relative;
  
    margin-top: 30px;
    margin-left: 50px;
}

.sombraForm{
    width: 100%;
    height: 480px;
    position: absolute;
    left: 0px;
    top: 20px;
    background-color: #E6E6E6;
    border-radius: 10px;
}

.formI{
   width: 680px;
   height: 440px;
   margin-top: 10px;
   background-color: white;
   margin-left: 10px;
   border-radius: 12px;
   display: flex;
   flex-direction: column;
     
}

.formI > h1{
    color: #004B72;
    padding: 0 20px;
}

.formI > label{
    color: #004B72;
    margin-left: 10px;
}

 .inputNombre{
     display: flex;
     flex-direction: column;
     
 }

 .inputNombre >label{
    color: #004B72;
    margin-left: 20px;
 }

.inputText{
  width: 70%;   
  margin: 5px 20px;
  border : 1.3px solid #3DA097;
  border-radius: 10px;
  height: 20px;
  
  
}

.correoTel{
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.inputCorreo{
   /* width: 100%; */
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputTelefono{
   
    flex: 3;
    display: flex;
    flex-direction: column;

}


.correoTel > .inputCorreo >label{
    color: #004B72;
    margin-left: 20px;
}

.correoTel > .inputTelefono >label{
    color: #004B72;
    margin-left: 20px;
}

.inputTextArea{
    margin-top: 15px;
    width: 70%;
    height: 200px;
    margin-left: 20px;
    border : 1.3px solid #3DA097; 
    border-radius: 10px;
}

.buttonForm{
    border: none;
    border-radius: 10px;
    background-color: #00A6B7;
    width: 100px;
    margin-top: 20px;
    margin-right: 175px;
    margin-bottom: 20px;
    align-self: flex-end;
    cursor: pointer;
    padding: 10px;
    color: white;
    font-size: 15px;
}






.logoSuper{
    display: flex;
    align-items: center;
    justify-content: center;
     width: 100px;
     height: 110px;
     border: 2px solid #00A6B7;
     border-radius: 8px;
    position: absolute;
    right: -25px;
    top: 160px;
    z-index: 100;
    
}

.logoSuperior{
    
}

.logoGeneral{
    position: relative;
}

.cuadroAzulClaro::after, .cuadroAzulClaro::before{
    position: absolute;
    content: '';
    opacity: 1;
}

.cuadroAzulClaro::before{
    width: 100px;
    height: 60px;
    background-color: #00A6B7;
    top: -40px;
    left: -20px;
    z-index: -4;
    border-radius: 10px;

}

.cuadroAzulClaro::after{
   width: 70px;
   height: 130px;
   background-color: #004B72;
   border-radius: 10px;
   top: -2px;
   left: -40px;
   z-index: -3;
}

.containerBottom{
    width: 100%;
    height: 150px;
    background-color: #00A6B7;
    position: absolute;
    z-index: -10;
    bottom: -80px;
    
}